{% extends 'base.html' %}
{% load markdown_deux_tags %}
{% block content %}
<div class="container">
    <div class="row">
    <div class="panel panel-default">
        <div class="panel-body">
            <h2><a href="#">{{ post.blog }}</a> > {{ post.title }}</h2>
            {% block object_content %}
            <p style="word-wrap: break-word;">{{ post.content|safe|markdown }}</p>
            {% endblock %}
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-sm-6"><h4>Рейтинг: <b>{{ post.rating }}</b></h4></div>
                <div class="col-sm-6 text-right"><h4>Автор: <a
                        href="{% url 'users:detail' username=post.author.username %}">{{ post.author }}</a></h4></div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}