{% extends 'base.html' %}
{% load markdown_deux_tags %}
{% load crispy_forms_tags %}
{% block content %}
<script>
        function post_vote(value)
        {
            f = document.getElementById("post_vote");
            f.vote.value = value;
            f.submit();
        }
</script>
<div class="container">
    <div class="row">
    <div class="panel panel-default">
        <div class="panel-body">
            <h2><a href="{% url 'blogs:posts' blogname=post.blog.unique_name %}">{{ post.blog }}</a> > {{ post.title }}</h2>
            {% block object_content %}
            <div class="post_detail_item">
            <p style="word-wrap: break-word;">{{ post.get_markdown|safe }}</p>
            </div>
            {% endblock %}
            <br>
            {% with names=post.tags.names %}
                {% if names.count > 0 %}
                <p class="tags">Тэги:  {% for name in names %}{% if not forloop.first %},{% endif %}
                <a href="{% url 'posts:list' %}?tag={{ name|urlencode }}">{{ name }}</a>{% endfor %}
                </p>
                {% endif %}
            {% endwith %}
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-sm-6"><h4 style="display: inline; margin-top:0 !important;">
                    <form method="post" target="" id="post_vote">
                    {% csrf_token %}
                    <input type="hidden" name="vote" value="1" />
                    Рейтинг:
                    <button type="button" class="btn {% if enable == 'down' %}btn-success{% else %}btn-default{% endif %} btn-xs {% if request.user == post.author or voted == True or not request.user.is_authenticated %}
                    disabled {% endif %}" {% if request.user != post.author and voted != True and request.user.is_authenticated %}onclick="post_vote(1);"{% endif %}><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                    <b>{{ post.rating }}</b>
                    <button type="button" class="btn {% if enable == 'up' %}btn-danger{% else %}btn-default{% endif %} btn-xs {% if request.user == post.author or request.user.profile.karma < 2 or voted == True or not request.user.is_authenticated %}
                    disabled {% endif %}" {% if request.user != post.author and request.user.profile.karma >= 2 and voted != True and request.user.is_authenticated %}onclick="post_vote(-1);"{% endif %}><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
                    </form></h4></div>
                <div class="col-sm-6 text-right"><h4>Автор: <a
                        href="{% url 'users:detail' username=post.author.username %}">{{ post.author }}</a></h4></div>
            </div>
        </div>
    </div>
</div>
    <div class="row">
    <div class="col-sm-8">
    <h3 style="padding-bottom: 15px !important;">Комментарии:</h3>
    </div>
    </div>
    {% for comment in post.comments %}
    <div class="row">
        <div class="col-sm-8">
        <small><a href="{% url 'users:detail' username=comment.user.username %}">{{ comment.user }}</a>
        {{ comment.timestamp }}</small><br>
        <div style="padding-top: 5px !important; padding-bottom: 15px !important;" class="break-lines">{{ comment.content }}</div>
        </div>
    </div>
    {% endfor %}
    {% if request.user.is_authenticated %}
    <div class="row">
        <div class="col-sm-8">
        <form method="post" action="">
        {% csrf_token %}
        {{ comment_form|crispy }}
        <input type="submit" value="Отправить комментарий">
        </form>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}