{% extends 'base.html' %}
{% block content %}
<div class="container">
        <div class="row">
        <div class="col-md-6"><h2 style="display: inline; padding-right: 40px;">Блоги</h2></div>
        <div class="col-md-6 text-right"><sup><a href="{% url 'blogs:create' %}" class="btn btn-default">Добавить блог</a></sup></div>
        </div>
        <br>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Наименование блога</th>
                <th>Описание блога</th>
                <th>Действие</th>
            </tr>
            </thead>
            <tbody>
            {% for blog in blogs_list %}
            <tr>
                <td>
                    {{ blog.name }}
                    <br>
                    <small>Создатель: <a href="{% url 'users:detail' username=blog.owner %}">{{ blog.owner }}</a></small>
                </td>
                <td>{{ blog.name }}</td>
                <td><button type="button" class="btn btn-success btn-circle" title="Подписаться"><i class="glyphicon glyphicon-ok"></i></button>
                    <button type="button" class="btn btn-danger btn-circle" title="Отписаться"><i class="glyphicon glyphicon-remove"></i></button>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% include 'pagination.html' %}
    </div>
{% endblock %}