{% extends 'base.html' %}
{% block content %}
<script>
        function subscription(blog_id)
        {
            f = document.forms[0];
            f.blog.value = blog_id;
            f.submit();
        }
</script>
<div class="container">
        <div class="row">
        <div class="col-md-6"><h2 style="display: inline; padding-right: 40px;">Блоги</h2></div>
        {% if request.user.is_authenticated %}
        <div class="col-md-6 text-right"><a href="{% url 'blogs:create' %}" class="btn btn-default">Добавить блог</a></div>
        {% endif %}
        </div>
        <br>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Наименование блога</th>
                <th>Описание блога</th>
                {% if request.user.is_authenticated %}
                <th>Действие</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for blog in blogs_list %}
            <tr>
                <td>
                    <a href="{% url 'blogs:posts' blogname=blog.unique_name %}">{{ blog.name }}</a>
                    <br>
                    <small>Создатель: <a href="{% url 'users:detail' username=blog.owner %}">{{ blog.owner }}</a></small>
                </td>
                <td>{{ blog.name }}</td>
                {% if request.user.is_authenticated %}
                <td>
                    <form method="POST" target="">
                    {% csrf_token %}
                    <input type="hidden" name="blog" value="{{ blog.id }}">
                    {% if blog.subscription_set.all %}
                    <button type="button" class="btn btn-danger btn-circle" title="Отписаться" onclick="subscription({{ blog.id }});"><i class="glyphicon glyphicon-remove"></i></button>
                    {% else %}
                    <button type="button" class="btn btn-success btn-circle" title="Подписаться" onclick="subscription({{ blog.id }});"><i class="glyphicon glyphicon-ok"></i></button>
                    {% endif %}
                    </form>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% include 'pagination.html' %}
    </div>
{% endblock %}