{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Коллективные блоги {% block title %}{% endblock %}</title>
</head>
<script   src="http://code.jquery.com/jquery-1.12.4.min.js"
          integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="   crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js"></script>
<script>
    $(document).ready(function(){
    $(".content-markdown").each(function(){
        var content = $(this).text()
        var markedContent = marked(content)
        $(this).html(markedContent)
    })
    $(".post_detail_item img").each(function(){
        $(this).addClass("img-responsive")
    })
    $(".wmd-preview img").each(function(){
        $(this).addClass("img-responsive")
    })
    $(".post_detail_item p").each(function(){
        $(this).addClass("break-lines")
    })
    })
    $(document).bind("DOMSubtreeModified",function(){
    $(".wmd-preview img").each(function(){
        $(this).addClass("img-responsive")
    })
    $(".wmd-preview p").each(function(){
        $(this).addClass("break-lines")
    })
    })
</script>
<body>
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'main:list' %}">Блоги</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
        {% url 'users:list' as users_url%}
        {% url 'blogs:list' as blogs_url%}
        {% url 'posts:list' as posts_url%}
        <li {% if request.path == users_url %}class="active"{% endif %}><a href="{% url 'users:list' %}">Пользователи <span class="sr-only">(current)</span></a></li>
        <li {% if request.path == blogs_url %}class="active"{% endif %}><a href="{% url 'blogs:list' %}">Блоги<span class="sr-only">(current)</span></a></li>
        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Публикации <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'posts:list' %}">Все</a></li>
            <li><a href="{% url 'posts:best' %}">Лучшие за сегодня</a></li>
            {% if request.user.is_authenticated %}<li><a href="{% url 'posts:subscription' %}">По подписке</a></li>{% endif %}
          </ul>
        </li>
        <!--<li><a href="#">Link</a></li>-->
        <!--<li class="dropdown">-->
          <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>-->
          <!--<ul class="dropdown-menu">-->
            <!--<li><a href="#">Action</a></li>-->
            <!--<li><a href="#">Another action</a></li>-->
            <!--<li><a href="#">Something else here</a></li>-->
            <!--<li role="separator" class="divider"></li>-->
            <!--<li><a href="#">Separated link</a></li>-->
            <!--<li role="separator" class="divider"></li>-->
            <!--<li><a href="#">One more separated link</a></li>-->
          <!--</ul>-->
        <!--</li>-->
      </ul>
      <form class="navbar-form navbar-left" method="get" target="">
        <div class="form-group">
          <input type="text" class="form-control" name="q" placeholder="Поиск">
        </div>
        <button type="submit" class="btn btn-default">Искать</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        {% if request.user.is_authenticated %}
            <li><a href="{% url 'users:detail' username=request.user.username %}">{{ request.user.username }}</a></li>
            <li><a href="{% url 'posts:create' %}">Новая публикация</a></li>
            <li><a href="{% url 'logout' %}">Выйти</a></li>
         {% else %}
            <li><a href="{% url 'registration' %}">Зарегистрироваться</a></li>
            <li><a href="{% url 'login' %}">Войти</a></li>
         {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{% block content %}
{% endblock %}
<nav class="footer">
        <p align="center">Да пребудет с тобой Сила.</p>
</nav>
</body>
</html>
