<nav aria-label="Page navigation">
    <div class="text-center">
        <ul class="pagination">
            <li>
                {% if page_obj.has_previous %}
                <a href="{% url 'users:list'%}?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
                {% else %}
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
                {% endif %}
            </li>
            {% for pn in custom_page_range %}
            <li {% if page_obj.number == pn %}class="active"{% endif %}> <a href="{% url 'users:list'%}?page={{ pn }}">{{ pn }}</a></li>
            {% endfor %}
            <li>
                {% if page_obj.has_next %}
                <a href="{% url 'users:list'%}?page={{ page_obj.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
                {% else %}
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>