{% extends 'base.html' %}
{% load staticfiles %}
{% load pageordered %}
{% load pageordered2 %}
{% block title %}- {{ user.username }}{% endblock %}
{% block content %}
    <div class="container">
        <h2>Пользователь</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Рейтинг</th>
                <th>Пользователь</th>
                <th>Карма</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users_list %}
            <tr>
                <td>{{ page_obj.number|pageordered:paginate_by|pageordered2:forloop.counter }}</td>
                <td><a href="{% url 'users:detail' username=user.user %}">{{ user.user }}</a></td>
                <td>{{ user.karma }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% include 'pagination.html' %}
    </div>
{% endblock %}