{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}- {{ user.username }}{% endblock %}
{% block content %}
    <script>
        function karma_vote(value)
        {
            f = document.forms[0];
            f.karma.value = value;
            f.submit();
        }
    </script>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                    <img src="{{ user.profile.avatar_url }}" width="50px" height="50px" style="margin-right: 20px;">
                <h2 style="display: inline; margin-top:0 !important;">{{ user.username }}</h2>
            </div>
            <div class="col-sm-4">
                <h2 style="margin-top:0 !important;">
                    <form method="post" target="">
                    {% csrf_token %}
                    <input type="hidden" name="karma" value="1" />
                    <small>Карма:</small>
                    <button type="button" class="btn btn-success btn-xs {% if request.user == user or enable == 'down' %}
                    disabled {% endif %}" {% if request.user != user and enable != "down" %}onclick="karma_vote(1);"{% endif %}><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                    {{ user.profile.karma }}
                    <button type="button" class="btn btn-danger btn-xs {% if user.profile.karma == 0 or request.user == user or request.user.profile.karma < 2 or enable == 'up' %}
                    disabled {% endif %}" {% if request.user != user and user.profile.karma != 0 and request.user.profile.karma >= 2 and enable != 'up' %}onclick="karma_vote(-1);"{% endif %}><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
                    </form>
                </h2>
            </div>
        </div>


    <ul class="nav nav-tabs">
        {% url 'users:detail' username=user.username as detail_url %}
        {% url 'users:edit' username=user.username as edit_url %}
        <li role="presentation" {% if request.get_full_path == detail_url %} class="active"{% endif %}><a href="{% url 'users:detail' username=user.username %}">Профиль</a></li>
        {% if user == request.user %}
        <li role="presentation" {% if request.get_full_path == edit_url %} class="active"{% endif %}><a href="{% url 'users:edit' username=user.username %}">Редактировать
            профиль</a></li>
        {% endif %}
        <li role="presentation"><a href="#">Статьи</a></li>
    </ul>
    {% block user_view %}
    {% endblock %}
     </div>
{% endblock %}